<div class="page-header">
  <h1><%=t '.title', :default => "Home" %></h1>
</div>

<dl class="dl-horizontal">
	<%= link_to t('.new', :default => t("Vendas")),
            tasks_path,
            :class => 'btn btn-primary' %>
<br>
<br>
    <%= link_to t('.new', :default => t("Produtos")),
            products_path,
            :class => 'btn btn-primary' %>

</dl>
